/* selector + propiedad + valor */


p {
    color:black;
    font-size: 20px;
    margin: 20px;

}

h1 {
    color:rgb(115, 99, 79);
    font-size: 45px;
    margin: 18;
    text-align: center;
    font-style: oblique;
    
}


h2 {
    color:rgb(181, 162, 139);
    font-size: 20;
    text-align:initial;
    font-style: inherit;
}

.titulo{
    text-decoration-line: underline;

}


img {
    align-content: center;
    max-width: 150px;
}


.lista{
    text-align: justify;
    font-style: inherit;
}


/* Estilos del header */

.header{
  display:flex; 
  align-items:center; 
  justify-content:space-between; 
  gap:20px;
}

.logoslogan{
    display: flex;
    align-items: center;
    gap: 12px;
}

.slogan-unico{ 
    margin:0; 
    font-size:1.25rem; 
    font-weight:700; 
    color:#1f1e1e; 
    font-style: unset;
}

/* Estilos del navegador */

.navegador{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    
}

.navegador a{
    display: block;
    padding: 15px 25px;
    border: 5px solid #0000;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}


/* Tarjetas */

.cards{ 
    display:flex; 
    justify-content: center;
    gap:24px; 
    flex-wrap:wrap;
}

.card
{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width:200px;
    border: 1px solid;
    border-top-width: 5px;
    border-radius: 8px;
    background-color: rgb(243, 235, 227);
}

.cardimg{
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    float: right;
    margin-left: 15px;
    max-width: 150px;
}

/* Estilos de pagina de preguntas frecuentes */

.interrogatorio{
    border: 5px;
     border: 1px solid;
    border-width: 5px;
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(243, 235, 227);
    justify-content: center;
    text-align:start;
}

.consejos {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.consejo {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    gap: 24px;
   border: 1px double;
    border-width: 5px;
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(243, 235, 227);
}


/* Estilo de Grid de pantalla productos */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 60px auto;
    grid-template-areas: 
    "meditacion meditacion"
    "reiki reiki"
    "tarot tarot"
    ;
    column-gap: 20px;
    row-gap: 15px;

}


.grid-item {
  padding: 15px;
  background: #fdfaf7; 
  border: 2px solid #413e43; 
  border-radius: 10px; 
  font-weight: bold; 
  color: #2c2c2c; 
  text-align: center; 
}


/* Estilo de los footer  */

footer
    .footer1 {
    display: flex;
    justify-content: right;
    gap: 24px;
    flex-wrap: wrap;
    
}

.footer2 {

    display: flex;
    justify-content:right;
    gap: 20px;
    flex-direction: column;
    align-items: right;
    text-align: right;
    width: 50px;
    gap: 24px;
    
  
}

.footer1 img {
    max-width: 50px;

}

/* Estilos de label e input*/

.labelnombre{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.labelemail{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;

}

.labeltelefono{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.labelasunto{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

